page-buy-kaya-process {
  .box-widget {
    border: none;
    position: relative;
  }
  .box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }
  .widget-user-2 .widget-user-header {
    padding: 5px 20px 5px 20px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }
  .bg-yellow,
  .callout.callout-warning,
  .alert-warning,
  .label-warning,
  .modal-warning .modal-body {
    background-color: #f39c12 !important;
    color: #fff !important;
  }
  .widget-user-2 .widget-user-username,
  .widget-user-2 .widget-user-desc {
    margin-left: 75px;
  }
  .widget-user-2 .widget-user-username {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 400;
  }
  .widget-user-2 .widget-user-desc {
    margin-left: 75px;
    font-weight: 400;
  }
  .widget-user-2 .widget-user-desc {
    margin-top: 0;
  }
  .widget-user-2 .widget-user-image>img {
    width: 65px;
    height: auto;
    float: left;
  }
  .img-circle {
    border-radius: 50%;
  }
  img {
    vertical-align: middle;
    border: 0;
  }
}
