page-buyer-kaya-form-calculator {
    ion-card{
        background: #39A2F3 !important;
        
    }
    .card_form{
        background: #84BDAC !important;
        font-size: 20px !important;
        font-weight: bold !important;
        color: #FFFFFF !important;
    }



    .card_kaya{
        background: #F28784 !important
    }
    
    .topic{
        font-size: 17px !important;
        font-weight: bold !important;
        color: #336798 !important
    }
    .kaya_type_txt{
        font-size: 16px !important;
        color:#ffffff !important;
        font-weight: bold !important;
        text-align: right
    }

    .weight_input{
        background: #FFFFFF !important;
        color: #000000 !important;
        border-radius: 10px !important
    }
}
