page-buyer-kaya-categories {
    ion-card{
        background: #39A2F3 !important;

    }

   

    h2{
        font-size: 17px !important;
        font-weight: bold !important;
        color: #ffffff !important;
    }

    .card_kaya{
        background: #FFFFFF !important
    }
    
    ion-card-header{
        font-size: 18px !important;
        font-weight: bold !important;
        color: #336798 !important
    }
    .kaya_type_txt{
        font-size: 13px !important;
        color:#000000 !important;
        font-weight: bold !important;
        // text-align: right
    }

    strong{
        font-size: 14px !important;
        color: #F28784 !important
    }

    .button_cw{
        padding: 0 0.5em !important
    }
}
